body {
	font-family: 'Work Sans', sans-serif;
}


h1 {
	font-weight: 700;
	margin-bottom: 3%;
}

h3 {
	margin-bottom: 20px;
}

#midbutton {
	margin-right: 6px;
	margin-left: 6px;
}

button {
	outline: none !important;
}

hr {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid;
}

.error {
	color: red;
	font-weight: 700;
}

label {
	margin-right: -24px;
	margin-left: 18px;
	margin-top: -4px
}

input {
	padding-left: 2px;
}

.mealbox {
	border: 2px solid black;
	padding-bottom: 20px;
	padding-top: 0px;
	padding-right: -40px;
	margin-top: 40px;
	border-radius: 25px;

}

.customerbox {
	border: 2px solid black;
	padding-bottom: 20px;
	padding-top: 0px;
	margin-top: 40px;
	border-radius: 25px;
}

.earningsbox {
	border: 2px solid black;
	padding-bottom: 20px;
	padding-top: 0px;
	margin-top: 40px;
	border-radius: 25px;
}

.homebox {
	/* border: 1px solid black; */
	padding-bottom: 20px;
	padding-top: 40px;
}